

 /* Modo escuro */
 body.dark-mode {
    background-color: #121212; /* Fondo negro para o corpo */
    color: #e0e0e0; /* Texto claro */
}

.sidebar.dark-mode {
    background-color: #333; /* Fondo escuro na barra lateral */
}

.main.dark-mode {
    background-color: #121212; /* Fondo escuro no contido */
}

.btn-dark-mode {
    background-color: #444; /* Fondo oscuro para os botones */
    color: #fff;
}

.btn-dark-mode:hover {
    background-color: #555; /* Fondo ao pasar o rato sobre o botón */
}